<div id="search-list">
  <span><%= link_to '<--Go to Homepage', root_path %></span>
  <h1 class='analytics-section__heading'> Search Analytics: Recent Searches </h1>
  <ul id="searches-list">
    <% @user_search_list.each do |search| %>
      <li><%= search %></li>
    <% end %>
  </ul>
</div>
