<section>
  <span><%= link_to '<--Homepage', root_path %></span>
  <h1> Search Analytics: Common Queries </h1>
  <table>
    <tr>
      <th>Query</th>
      <th>Search Frequency</th>
    </tr>
    <% @user_search_list.each_with_index do |analytics, index| %>
      <tr>
        <td> <%= analytics[0]  %> </td>
        <td> <%= analytics[1] %> </td>
      </tr>
    <% end %>
  </table>
</section>
