<div>
  <%= link_to 'Analytics', analytics_path %>

  <h1>Search Article</h1>

  <div id="articles-section">
    <%= render partial: '/shared/form' %>
  </div>

  <% if @articles.empty? %>
   <div></div>
  <% else %>
    <% @articles.each do |article| %>
      <ul class="article">
        <li><%= article.title %></li>
      </ul>
    <% end %>
  <% end %>
</div>
